.tox/

/env*/
/dist/
venv*/
.jupyter/
.ipynb*/
generated/

__pycache__/

/docs/build/
/docs/user_guide/build/
/docs/user_guide/notebooks/*.ipynb
/docs/user_guide/scripts/plots/*.png
/docs/user_guide/scripts/plots/*.txt
/docs/user_guide/CHANGELOG.md
/docs/user_guide/CONTRIBUTING.md
